/*
!.gitignore

!wp-content/
wp-content/*

wp-content/plugins/

!wp-content/themes/
!wp-content/themes/*
!wp-content/themes/wp-lajunta/
!wp-content/themes/wp-lajunta/screenshot.png
wp-content/themes/wp-lajunta/node_modules
wp-content/themes/wp-lajunta/.eslintrc
!wp-content/themes/wp-lajunta/*.php

wp-content/themes/wp-lajunta/package-lock.json
!wp-content/themes/wp-lajunta/modules/
!wp-content/themes/wp-lajunta/functions.php



# Windows 
Thumbs.db
ehthumbs.db

# Folder Config File
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac 
.DS_Store